<ion-view title="Checking Account Summary">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>    
      <ion-list>
      <ion-item ng-repeat="task in values">
        {{task.title}}
      </ion-item>
    </ion-list>    
  </ion-content>
 
  </ion-view>

