

<ion-view title="Nearest ATM">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
	  <div class="list card">

  <div class="item item-avatar">
    
    <h2>Find Your ATM</h2>
    <p>Rajaji Nagar</p>
  </div>

  <div class="item item-image">
    <img src="img/atm.png">
  </div>

  
</div>
  </ion-content>
  
</ion-view>
