<ion-view title="Account Balance">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
       <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Select Account Type
    </div>
    <select  ng-model="blisterPackTemplateSelected" ng-change="changedValue(blisterPackTemplateSelected)" 
     data-ng-options="typeofAccount as typeofAccount.name for typeofAccount in typeofAccount">
    <option value="">Select Account</option>
</select>
  </label>
  

</div>
  </ion-content>
 
</ion-view>
