<ion-view title="Deposit">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
 <div class="list">
 <div class="item item-avatar">
    
    <h2>Deposit your cheque</h2>
    <p>Scan the Cheque</p>
  </div>

  <div class="item item-image">
    <img src="img/cheque.jpg">
  </div>

      </div>

       
  </ion-content>
  
</ion-view>
