<ion-view title="Pay Telephone Bill">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
 <div class="list">
         
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input type="text">
        </label>
        <div>
          <button class="button button-block button-positive">Transfer</button>
        </div>
       
      </div>
  </ion-content>
  
</ion-view>
