<ion-view title="Utility Bills">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
 <div class="list">
<div>
          <button class="button button-block button-positive" ng-click="CreditBill()">Pay Credit Bill</button>
        </div>
		<div>
          <button class="button button-block button-positive" ng-click="TelephoneBill()">Pay Telephone Bill</button>
        </div>
		<div>
          <button class="button button-block button-positive" ng-click="ElectricityBill()">Pay Electricity Bill</button>
        </div>
		<div>
          <button class="button button-block button-positive" ng-click="InternetBill()">Pay Internet Bill</button>
        </div>
       
      </div>

       
  </ion-content>
  
</ion-view>
