<ion-view title="Voice Input">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>    
      <ion-list>
      <label class="item">
          <button class="button button-block button-positive" ng-click="ProcessText()">Click To Speak!</button>
        </label>
		 
    </ion-list>
    
  </ion-content>
 <div class="tabs tabs-icon-top tabs-positive">
        <a class="tab-item" href="#/app/VoiceInput" ng-click="ProcessText()">
            <i class="icon ion-home"></i>
            Voice Input
        </a>
       
</div>
  </ion-view>

